.about {
    padding: 2rem 10%;
    height: 100%;


    .bold {
        font-weight: bold;
        display: block;
        font-size: 15px;

    }

    .text {
        padding-top: 1rem;
        text-align: justify;   
    }
}
