.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.terminal-command-button {
    background-color: transparent;
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    border: none;
    color: rgba($color: #fff, $alpha: 0.8);

    padding: 5px 8px;
    margin-left: 0.3rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgba($color: #eee, $alpha: 0.5);
    font-size: 15px;

    &:hover {
        background-color: #fff;
        color: rgba(3, 1, 19, 1);
    }

    &.selected {
        font-weight: bolder;
        border: none;
    
        &:hover {
            background-color: transparent;
            color: rgba($color: #fff, $alpha: 0.8);
            cursor: default;
        }
    }
}
