.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.terminal-buttons {
    // border: 1px solid rgba($color: #eee, $alpha: 0.8);
    display: inline-block;
}

.terminal-command-button {
    background-color: transparent;
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    border: none;
    color: rgba($color: #aaa, $alpha: 1);
    // text-shadow: 0 0 5px #00a2ffcc;


    padding: 5px;
    // margin-right: 0.3rem;
    margin-right: 0.5em;

    cursor: pointer;
    text-decoration: none;
    // border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    // width: 70px;

    &:hover:not(.selected) {
        color: #fff;
        text-shadow:  0 0 5px #eee;
        transition: 0.5s;
    }

    &.selected {
        color: rgba($color: #fff, $alpha: 0.8);
        text-shadow: 0 0 3px #fff;
        // color: #fff;

        border: none;

        &:hover {
            background-color: transparent;
            // color: rgba($color: #fff, $alpha: 0.8);
            
            cursor: default;
        }
    }
}


.none {
    opacity: 0;
    transition-delay: 5s;
}